
<div class="dashboard">
  <div *ngIf="chollos.length > 0; else noChollos">

    <div class="container p-10">

      <div class="cards-wrapper"></div>

      <h1 class="page-title">Mis Chollos</h1>
      <mat-divider></mat-divider>
      <br>

      <div class="button-container-create">
        <p><a routerLink="/dashboard/create" class="btn crear">+ Crear nuevo chollo </a></p>
      </div>

      <div class="grid">
          <div *ngFor="let chollo of chollos"
            class="col-12 sm:col-12 md:col-12 xl:col-12">
              <chollos-chollo-card2 [chollo]="chollo"></chollos-chollo-card2>
          </div>
      </div>
    </div>
  </div>

  <ng-template #noChollos>
    <p>No hay chollos disponibles para este usuario.</p>
  </ng-template>

</div>
