
.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
  width: 100%;
}

.button-container-create {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  align-self: flex-end;
  margin-right: 25%;
}

.btn.crear {
  background-color: #0015e8;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn.crear:hover {
  background-color: #0213bd;
}

.dashboard {
  background-color: #ededed;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  color: #d32f2f;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px 0;
}
