/* Contenedor principal para centrar todas las tarjetas */
.cards-wrapper {
  display: flex;
  flex-direction: column; /* Coloca una card por fila */
  align-items: center; /* Centra las tarjetas horizontalmente */
  width: 100%;
  padding: 20px 0; /* Espaciado superior e inferior */
}

.container{
  display: flex;
  flex-direction: column; /* Coloca una card por fila */
  align-items: center; /* Centra las tarjetas horizontalmente */
  width: 100%;
  padding: 20px 0;
}

.grid{
    margin-left: 20%;
}

/* Contenedor del botón de edición, alineado a la izquierda y abajo */
.button-container-create {
  display: flex;
  justify-content: flex-end;
  margin-top: auto; /* Asegura que se posicione en la parte baja */
  align-self: flex-end; /* Alinea a la izquierda */
  margin-right: 25%;
}

/* Estilos del botón */
.btn.crear {
  background-color: #0015e8; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 8px 12px; /* Espaciado interno */
  font-size: 14px; /* Tamaño de fuente */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

/* Efecto hover del botón */
.btn.crear:hover {
  background-color: #0213bd; /* Color en hover */
}

.dashboard {
  background-color: #ededed;
  /*background-image: url('../../../../assets/images/fondo2.webp');
  background-size: cover;*/         /* Ajusta la imagen para cubrir todo el fondo */
  /*background-position: center; */    /* Centra la imagen */
  /*background-repeat: no-repeat;  */  /* Evita que la imagen se repita */
  /*min-height: 100vh;      */         /* Asegura que el fondo ocupe toda la pantalla */
}
