.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #e14949;
  position: relative;
  min-height: 100px;
}

.header-logo-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 15px;
}

.header-text {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Times New Roman', serif;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.auth-button,
.logout-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button {
  background-color: #a91212;
}

.auth-button:hover {
  background-color: #0056b3;
}

.logout-button:hover {
  background-color: #7c1313;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    min-height: 150px;
  }

  .auth-buttons {
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
  }

  .auth-button,
  .logout-button {
    width: 100%;
    max-width: 320px;
    font-size: 18px;
    padding: 14px;
  }

  .header-text {
    font-size: 28px;
  }

  .logo {
    width: 70px;
  }
}

@media (min-width: 769px) {
  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    min-height: 100px;
  }

  .header-logo-text {
    display: flex;
    align-items: center;
  }

  .auth-buttons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .logo {
    width: 60px;
  }

  .header-text {
    font-size: 28px;
  }
}
