.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background-color: #e14949;
  position: relative;
}

.header-logo-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.header-text {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Times New Roman', serif;
}

.auth-buttons {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}

.auth-button, .logout-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button {
  background-color: #a91212;
}

.auth-button:hover {
  background-color: #0056b3;
}

.logout-button:hover {
  background-color: #7c1313;
}
