
<mat-card class="chollo-card">
  <div class="card-content">
    <div class="image-container">
      <!-- Imagen principal -->
      <img [src]="images[currentImageIndex]" alt="Imagen de {{ chollo.titulo }}" class="chollo-image" />

      <!-- Botones de navegación imagenes-->
      <button (click)="prevImage()" class="nav-button left" [disabled]="currentImageIndex === 0">❮</button>
      <button (click)="nextImage()" class="nav-button right" [disabled]="currentImageIndex === images.length - 1">❯</button>
    </div>
    <div class="card-details">
      <div class="card-title-price">
        <strong>{{ chollo.titulo }}</strong>
        <span>{{ chollo.precio }}€</span>
      </div>
      <p class="chollo-description">{{ chollo.descripcion }}</p>

      <!-- Nuevo contenedor para los botones alineados -->
      <div class="button-group">
        <div class="button-container-edit">
          <a (click)="onUpdateChollo(chollo.id_chollo)" class="btn editar">Editar</a>
        </div>
        <div class="button-container-delete">
          <a (click)="onDeleteChollo(chollo.id_chollo)" class="btn btn-danger">Eliminar</a>
        </div>
        <div class="button-container">
          <a [href]="chollo.enlace" target="_blank" class="btn ir-al-chollo">Ir al chollo</a>
        </div>
      </div>

    </div>
  </div>
</mat-card>

