
<div class="home">
  <div class="container p-10">
    <div class="search-container">
      <input [formControl]="searchChollos" type="text" placeholder="Buscar chollo por título" class="search-input"/>
      <button (click)="cleanSearch()" class="clear-button">Limpiar búsqueda</button>
    </div>


    <div class="cards-wrapper"></div>

    <h1 class="page-title">Listado de Chollos</h1>

    <mat-divider></mat-divider>

    <div class="grid">
      <div *ngFor="let chollo of chollos"
        class="col-12 sm:col-12 md:col-12 xl:col-12">
          <chollos-chollo-card [chollo]="chollo"></chollos-chollo-card>
      </div>
    </div>

  </div>

</div>


