html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between; /* Asegura que haya espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 20px;
  background-color: #000; /* Fondo negro */
  border-top: 1px solid #ddd;
  position: relative; /* Cambia a relative para que no interfiera con el flujo del documento */
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; /* Alineación de texto */
  z-index: 10; /* Asegura que esté en frente del contenido de la página */
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Asegura que los elementos dentro se distribuyan uniformemente */
  align-items: center; /* Centra verticalmente los elementos */
  width: 100%;
  max-width: 1200px; /* Asegura un ancho máximo del footer */
  margin: 0 auto; /* Centra el contenido dentro del footer */
}

.footer-link {
  color: #fff; /* Texto blanco */
  font-size: 16px;
  text-decoration: none;
  margin-right: auto;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-link {
  display: inline-block;
}

.social-icon {
  width: 24px;
  height: 24px;
}
